.selector {
  width: 140px;
  margin: 4px 8px;
  padding: 8px 12px;

  color: #08C;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
  cursor: pointer;
  border: 1px solid var(--color-btn-primary);
  border-radius: 3px;
}

.selector.uncollapsed {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selector__list {
  width: 140px;

  display: block;
  position: absolute;
  top: 100%;
  left: -1px;
  background-color: white;
  list-style: none;
  border: 1px solid var(--color-btn-primary);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.selector__list_item {
  padding: 8px 12px;
}

.selector__list_item:hover {
  color: white;

  background-color: #08C;
}
