.settingsAuth__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsAuth {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsAuth__controls {
  margin: 1rem 0;

  display: flex;
}

h2 {
  margin: 1rem;
  padding: 1rem;
}

p {
  margin-bottom: 1rem;
  max-width: 300px;
  line-height: 2rem;
  text-align: center;
}
